.holder{
	position: relative;
}

.card{
	border: 1px solid #fff;
	border-radius: 15px;
	box-shadow: 0 0 1rem 0 rgba(0 ,0,0,0.2); 
	font-size: 2rem;
	overflow: hidden;
	position: relative;
	width: 800px;
}
.card:before{
	background-color: rgb(255, 255,255, 0.3);
	backdrop-filter:blur(10px) saturate(100%) contrast(45%)brightness(130%);
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
}
.card-text{
	color: #6f7886;
	margin-top: 30px;
	margin-left: 30px;
	position: relative;
	z-index: 2;

}
.card svg{
	bottom: 50%;
	position: absolute;
	left: 80%;
	
}

.btncancelbook{
	height: 40px;
	font-size: 2rem;
	color: crimson;
	background: #00000000;
	border-radius: 10px;
	border: 2px solid crimson;
	transition: 1s ease;
	margin-left: 60%;
}
.btncancelbook:hover{
	cursor: pointer;
	background: dodgerblue;
}