.background-image{
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 90vh;
	background-position: 100% 0;
}
.main-context{
	height: 100%;
	color: white;
	padding: 2%;
}
.main-context label{
	font-size: 18px;
}
.main-context select{
	border-radius: 5px;
	width: 30%;
	padding: 12px 8px;
	background-color: #eeeeee;
	border: 1px solid dodgerblue;
}
#btnhomebooknow{
	width: 80%;
	padding: 12px 8px;
	background:dodgerblue;
	font-size: 20px;
	border-radius: 5px;
}
#btnhomebooknow:hover{
	cursor: pointer;
	border-color: crimson;
}
.main-context h1{
	color: dodgerblue;
}
#depaturedate{
	width: 28%;
	padding: 12px 8px;
	border-radius: 5px;
}

/* main page infor style */
#cardinforholder{
	display: flex;
	width: 98%; 
	background-color: red;
	padding :1%;
}
  #cardinfor{
	width: 40%;
	box-shadow: 0 0 10px dodgerblue;
	color: dodgerblue;
	margin-left: 4%;
	padding: 1%;
	border-radius: 10px;

}
