.background-image{
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 90vh;
	background-position: 100% 0;
	overflow: hidden;
}
.main-context{
	height: 100%;
	color: white;
	padding: 2%;
	overflow: hidden;
}
.main-context label{
	font-size: 18px;
}
.main-context select{
	border-radius: 5px;
	width: 30%;
	padding: 12px 8px;
	background-color: #eeeeee;
	border: 2px solid dodgerblue;
}
#btnhomebooknow{
	width: 80%;
	padding: 12px 8px;
	background:dodgerblue;
	font-size: 20px;
	border-radius: 5px;
}
#btnhomebooknow:hover{
	cursor: pointer;
	border-color: crimson;
}
.main-context h1{
	color: dodgerblue;
}
#depaturedate{
	width: 28%;
	padding: 12px 8px;
	border-radius: 5px;
}
#insight{
	width: 70%;
	margin-left: 13%;
	padding:1%;

}

/* main page infor style */
#cardinforholder{
	display: flex;
	width: 98%; 
	padding :1%;
}
  #cardinfor{
	width: 40%;
	box-shadow: 0 0 10px dodgerblue;
	color: dodgerblue;
	margin-left: 4%;
	padding: 1%;
	border-radius: 10px;

}
#cardinfor img{
	border-radius: 10px;

}
#cardinfor button{
	border-radius: 10px;
	width: 90%;
	padding: 12px 8px;
	background-color: dodgerblue;
	color: black;
	font-size: 18px;
	cursor: pointer;
}
.popupbookingform{
	width: 70%;
	background:#00000000;
	height: 70vh;
	margin-left: 15%;
	overflow: hidden;
	position: absolute;
	top:200px;
	display: none;

}
.popupbookingform label{
	font-size: 18px;
	color: white;
}
.popupbookingform select{
	border-radius: 5px;
	width: 40%;
	padding: 12px 8px;
	background-color: #eeeeee;
	border: 2px solid dodgerblue;
}
#highclassdepaturedate{
	width: 38%;
	padding: 12px 8px;
	border-radius: 5px;
}
#btnpopuphomebooknow{
	width: 80%;
	padding: 12px 8px;
	background:dodgerblue;
	font-size: 20px;
	border-radius: 5px;
}
#btnpopuphomebooknow:hover{
	cursor: pointer;
	border-color: crimson;
}
/* typing text */


.formcaption::after{
	content: "";
	position: absolute;
	width: 1px;
	height: 30px;
	border-right: 3px solid dodgerblue;
	animation: blink 0.5s infinite ease;
}
@keyframes blink{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}