/*start of navbar styling */
.overlay{
	background: dodgerblue;
	padding: 2%;
}
.navbarholder{
	background: dodgerblue;
	padding: 2%;
}
.navbarholder nav a{
	transition: all 1s ease;
	background: dodgerblue;
	padding: 1% 2%;
	color: white;
	border-bottom: 2px solid crimson ;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
}
nav a:hover{
	transition: all 1s ease;
	background: crimson;
	border-bottom-right-radius: 0%;
	border-bottom-left-radius: 0%;
	border-top-right-radius: 5%;
	border-top-left-radius: 5%;

}
.navbarholder .active{
	background: crimson;
	border-bottom-right-radius: 0%;
	border-bottom-left-radius: 0%;
	border-top-right-radius: 5%;
	border-top-left-radius: 5%;
}
#checkmenubar, #check{
	display: none;
}
section{
	background: #FFF;
	transition: all 1s;
	padding: 1px;
	display: block;
	
}

.mytickes{
	background: white;
	color: red;
	padding: 3px;
}


@media(max-width: 800px){
	.navbarholder{
		height: 100%;
	width: 40%;
	background: dodgerblue;
	left: -50%;
	position: fixed;
	z-index: 100;
	transition: all 1s ease;
	padding: 2%;
	overflow-y: scroll;
}
.navbarholder  a{
	transition: all 1s ease;
	display: block;
	background: dodgerblue;
	padding: 1% 2%;
	line-height: 45px;
	color: white;
	border-bottom: 2px solid crimson ;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
	margin-top: 2%;
}
.navbarholder .active{
	margin-top: 26px;
}

/* for respsiveness in small screens*/
#checkmenubar{
	display: block;
}
#check{
	display: none;
}
#checkmenubar #btnclose, #checkmenubar #btnmenu{
	position: absolute;
	cursor: pointer;
}
#checkmenubar #btnclose{
	left: -45%;
	transition: all 1s ease;
	position: fixed;
	z-index: 1000;
}
#checkmenubar #btnmenu{
	transition: all 1s ease;	
	top: 2%;
}
/*determin what happens when imaged checkbox is checked/unchecked*/
#check:checked ~ .navbarholder{
	left: 1.7%; 
}
#check:checked ~ #checkmenubar #btnmenu{
	left: 3%;
	opacity: 0;
	pointer-events: none;
}
#check:checked ~ #checkmenubar #btnclose{
	left: 35%;
	transition: all 1s ease;
}
#check:checked ~ section{
	margin-left: 40%;
}
}
/*end of navbar styling */